<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alim.cleanmaster">

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.USAGE_STATS_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <uses-permission
        android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- http://developer.android.com/guide/topics/security/permissions.html#normal-dangerous -->

    <uses-permission
        android:name=" permission.ADMIN"
        android:description="@string/app_description"
        android:label="@string/app_name"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cachecaleener.cachecleaner.permission.ADMIN" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2958463332087114~5829629490"/>
        <service
            android:name="eu.faircode.netguard.ServiceSinkhole"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="eu.faircode.netguard.ServiceExternal"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cachecaleener.cachecleaner.DOWNLOAD_HOSTS_FILE" />
            </intent-filter>
        </service>
        <service
            android:name="eu.faircode.netguard.ServiceTileMain"
            android:icon="@drawable/ic_security_white_24dp"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="eu.faircode.netguard.ServiceTileGraph"
            android:icon="@drawable/ic_equalizer_white_24dp"
            android:label="@string/setting_stats_category"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="eu.faircode.netguard.ServiceTileFilter"
            android:icon="@drawable/ic_filter_list_white_24dp"
            android:label="@string/setting_filter"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="eu.faircode.netguard.ServiceTileLockdown"
            android:icon="@drawable/ic_lock_outline_white_24dp"
            android:label="@string/setting_lockdown"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".LockService"
            android:stopWithTask="false"
            android:enabled="true"/>

        <!--<receiver-->
            <!--android:name="eu.faircode.netguard.ReceiverAutostart"-->
            <!--android:label="@string/app_name">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="eu.faircode.netguard.ReceiverPackageRemoved">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />-->

                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name="eu.faircode.netguard.WidgetMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetmain" />
        </receiver>
        <receiver
            android:name="eu.faircode.netguard.WidgetLockdown"
            android:label="@string/setting_lockdown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetlockdown" />
        </receiver>
        <receiver
            android:name="eu.faircode.netguard.WidgetAdmin"
            android:label="@string/app_name"
            android:permission="com.cachecaleener.cachecleaner.permission.ADMIN">
            <intent-filter>
                <action android:name="com.cachecaleener.cachecleaner.ON" />
                <action android:name="com.cachecaleener.cachecleaner.OFF" />
                <action android:name="com.cachecaleener.cachecleaner.LOCKDOWN_ON" />
                <action android:name="com.cachecaleener.cachecleaner.LOCKDOWN_OFF" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="eu.faircode.netguard.ApplicationInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Restarter"
            android:enabled="true"
            android:exported="true"
            />
        <receiver android:name=".reciever.Alarm" />


        <service
            android:name=".WindowChangeDetectingService"
            android:label="AppLock"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service android:name=".ScanService" />
        <service
            android:name=".notificationService"
            android:enabled="true" />
        <service android:name="com.ram.speed.booster.services.LightService" />
        <service android:name=".Services.FlagService"
            android:stopWithTask="false"
            android:enabled="true"
            />

        <activity android:name=".SetPattern"

            android:theme="@style/AppTheme"
            />
        <activity android:name=".BoostDevice"
            android:theme="@style/AppTheme2"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".Boosted"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <meta-data
                android:name=".SplashScreen"
                android:value=".SplashScreen" />
        </activity>
        <activity android:name=".ReportMalwareActivity" />
        <activity android:name=".MalwareScan" />
        <activity android:name=".FilesActivity" />
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".CleanedActivity"
            android:theme="@style/CleanedTheme"/>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme2"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".AppLockActivity"
            android:theme="@style/AppTheme2"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="eu.faircode.netguard.ActivityMain"
            android:configChanges="orientation|screenSize"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="eu.faircode.netguard.ActivitySettings"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu_settings"
            android:parentActivityName="eu.faircode.netguard.ActivityMain">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.faircode.netguard.ActivityMain" />
        </activity>
        <activity
            android:name="eu.faircode.netguard.ActivityLog"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu_log"
            android:parentActivityName="eu.faircode.netguard.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.faircode.netguard.ActivityMain" />
        </activity>
        <activity
            android:name="eu.faircode.netguard.ActivityPro"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_pro"
            android:parentActivityName="eu.faircode.netguard.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.faircode.netguard.ActivityMain" />
        </activity>
        <activity
            android:name="eu.faircode.netguard.ActivityDns"
            android:configChanges="orientation|screenSize"
            android:label="@string/setting_show_resolved"
            android:parentActivityName="eu.faircode.netguard.ActivitySettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.faircode.netguard.ActivitySettings" />
        </activity>
        <activity
            android:name="eu.faircode.netguard.ActivityForwarding"
            android:configChanges="orientation|screenSize"
            android:label="@string/setting_forwarding"
            android:parentActivityName="eu.faircode.netguard.ActivitySettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.faircode.netguard.ActivitySettings" />
        </activity>
        <activity
            android:name="eu.faircode.netguard.ActivityForwardApproval"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppDialog">
            <intent-filter>
                <action android:name="com.cachecaleener.cachecleaner.START_PORT_FORWARD" />
                <action android:name="com.cachecaleener.cachecleaner.STOP_PORT_FORWARD" />
            </intent-filter>
        </activity>
        <activity android:name=".CpuCoolerActivity"
            android:theme="@style/AppTheme2"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".CpuCooled"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".MediaActivity"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>